<h1>Index page</h1>
<% @messages.each do |message| %>
  <%= render "messages/messages", message: message %>
<% end %>
<%= simple_form_for(Message.new, remote: true) do |f| %>
  <%= f.input :content %>
  <%= f.submit "Send" %>
<% end %>
