<p>Hey There!</p>
<p>
    Congrats!  <b>A comment has been added on Nomster</b>
    <br>
    Comment:
    <%= @place.comments.last.message %>
    <br >
    Check it out <%= link_to "here", place_url(@place) %>
</p>

Esta-later!,<br />
Ken
