<div class="comments" id="comments_<%=photo.id%>">

  <% photo.comment_to_photos.each do |comment| %>

    <% if comment.user.present? %>
      <div class="user-name">
        <b><%= link_to comment.user.username, profile_path(comment.user.username) %></b>
      </div>
    <% end %>
    <div class="comment-content">
      <%= comment.photo_comment %>
    </div>
    <% if comment.user == current_user %>
      <%= link_to photo_comment_to_photo_path(photo,comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
      <span class= "delete-comment pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
      <% end %>
    <% end %>
    <br>

  <% end %>
</div>


