@import "bootstrap";
@import "font-awesome";

html, body{
  height:100%;
}




h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

@font-face {
    font-family: Milkshake;
    src: asset_url("Milkshake.otf") format("opentype");
}


body{
  background: image_url("confectionary.png");
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

}

.navbar{
  background: image_url("dark_embroidery.png");
  box-shadow: 0px 1px 3px #2a2a2a;

}

.navbar-inverse .navbar-brand{
  color: #9BD1FA;
  font-family: "Milkshake", sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:26px;


}


div.jumbotron.hero{
  height: 825px;
  color:#fff;
  text-align:center;
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),image-url("hero2.jpg");
  background-size:cover;
  background-position:center;
  padding-top:100px;
  padding-bottom:100px;
}



h1.hero-title, h2.hero-title, h3.hero-title{
  text-shadow:0 2px 2px rgba(0,0,0,0.3);
  color:#fff;
  font-weight:500;

}

.hero-subtitle{
    margin: 25px 0;
    color: rgba(255,255,255,.58);
    font-size: 5.5em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.subtitle2 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding:20px;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.alert{
  margin-bottom: 0;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.place-index{
  padding-top:20px;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
  text-indent: 0;
}

.checkboxes{
  margin-right:10px;
}

.category-badge a{
  color:white;
}


#map {
  height: 300px;
}

/*.card .card-block {max-height:400px;overflow:auto;} */


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /*quotes: "\201C""\201D""\2018""\2019";*/


  quotes: "“" "”" "‘" "’";

}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


img.d-block.img-fluid {
    height: 350px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    /*border: 3px solid black;*/
}


.carousel-inner {
  /*background: rgba(179,220,237,1);
background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );*/
  background-color: #000000;
}


.index-photo {
  width:100% !important;
   /*max-width:100%;*/
  /*max-height:100%;*/
}

.clear{
  clear:both;
}

.center-it{
  margin:0 auto;
}

.pagination{
  margin: 0 auto;
}


