@import "bootstrap";
@import "font-awesome";

html, body{
  height:100%;
}




h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

@font-face {
    font-family: Milkshake;
    src: asset_url("Milkshake.otf") format("opentype");
}


body{
  background: image_url("confectionary.png");
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

}

.navbar{
  background: image_url("dark_embroidery.png");
  box-shadow: 0px 1px 3px #2a2a2a;

}

.navbar-inverse .navbar-brand{
  color: #9BD1FA;
  font-family: "Milkshake", sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:26px;


}


div.jumbotron.hero{
  height: 825px;
  color:#fff;
  text-align:center;
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("hero2.jpg");
  background-size:cover;
  background-position:center;
  padding-top:100px;
  padding-bottom:100px;
}



h1.hero-title, h2.hero-title, h3.hero-title{
  text-shadow:0 2px 2px rgba(0,0,0,0.3);
  color:#fff;
  font-weight:500;

}

.hero-subtitle{
    margin: 25px 0;
    color: rgba(255,255,255,.58);
    font-size: 5.5em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.subtitle2 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding:20px;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.alert{
  margin-bottom: 0;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.place-index{
  padding-top:20px;
}

/*.card .card-block {max-height:400px;overflow:auto;} */


